@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background: #f4f4f4;
    font-family: 'Montserrat', sans-serif;
}

.header {
    width: 100%;
    height: 100vh;
    position: relative;
}

.hdrimg {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-repeat: no-repeat;
}

.navbar {
    width: 100%;
    height: 20vh;
    position: relative;
    display: flex;
    background: transparent;
    align-items: center;
    justify-content: flex-end;
}

.programa {
    width: 20%;
    height: 20vh;
    top: 60%;
    left: 5%;
    margin: 0;
    position: absolute;
    background: transparent;
}

.programa p {
    color: rgb(51, 137, 218);
    text-align: center;
    font-size: 70px;
    margin: 0;
}

.programa h1 {
    color: rgb(51, 137, 218);
    text-align: left;
    font-size: 100px;
    margin: 0;
}

.code {
    position: absolute;
    top: 25%;
    left: 2%;
    width: 10%;
    height: 5vh;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    list-style-type: none;
    margin: 0 30px;
    cursor: pointer;
    color: #fff;
}

.navbar ul li a {
    text-decoration: none;
    position: relative;
    display: block;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
}

.borde {
    /* width: ; */
    background: rgb(51, 137, 218);
    margin: 0px;
    padding: 15px 32px;
    border-radius: 60% 0 60% 0;
}

.proceso {
    width: 100%;
    height: auto;
    left: 10%;
}

.proceso h2 {
    height: 15%;
    color: rgb(51, 137, 218);
    text-align: center;
    font-size: 30px;
    margin: 0;
}

.proceso p {
    text-align: left;
    font-size: 20px;
    margin: 0;
    color: rgb(54, 54, 54);
    margin-left: 5%;
}

.texto {
    display: flex;
    text-align: justify;
    color: rgb(54, 54, 54);
    padding: 0;
    font-size: 20px;
    margin-left: 10%;
}

.texto1 {
    width: 40%;
    padding: 15px;
    display: inline-block;
}

.texto2 {
    width: 40%;
    padding: 15px;
    display: inline-block;
    margin-left: 5%;
}

.sec2 {
    width: 90%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
}

.sec2 .start h2 {
    height: 15%;
    color: rgb(51, 137, 218);
    text-align: center;
    font-size: 30px;
    margin: 0;
}

.sec2 .strart p {
    text-align: left;
    font-size: 20px;
    margin: 0;
    color: black;
    margin-left: 5%;
}

.sec2 .informacion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;
}

.sec2 .informacion div {
    width: 50%;
    margin: 0;
}

.sec2 .informacion .infocuadro1 {
    margin: 0;
}

.sec2 .informacion .infocuadro1 div,
.sec2 .informacion .infocuadro2 div {
    width: 90%;
    margin: 0%;
}

.objetivo h3,
.aplica h3,
.horarios h3,
.infocuadro2 h3 {
    color: rgb(51, 137, 218);
    font-size: 22px;
    margin: 0;
}

.objetivo p,
.horarios p {
    color: #000;
    font-size: 18px;
}

#ap {
    font-size: 18px;
}

.circulos {
    position: relative;
    width: 100%;
    height: 100%;
}

.circulos .uno,
.circulos .dos,
.circulos .tres {
    width: 15vw !important;
    height: 25vh;
    border-radius: 50%;
    background: rgb(51, 137, 218);
    text-align: center;
    color: #fff;
    position: absolute;
}

.circulos .uno #calendarioIcono,
.circulos .dos #ubicacionIcono,
.circulos .tres #cronometroIcono {
    margin-top: 10%;
    font-size: 25px;
}

.uno h4,
.tres h4 {
    font-size: 55px;
    margin: 0%;
}

.uno p,
.tres p {
    font-size: 15px;
    margin: 0%;
}

.dos p {
    font-size: 20px;
    margin: 2%;
}

.dos {
    top: 20%;
    left: 60%;
    background: rgb(51, 137, 218);
    margin: 0;
}

.tres {
    top: 50%;
    left: 25%;
    background: rgb(51, 137, 218);
    margin: 0;
}

.temas {
    width: 90%;
    margin: 2% auto;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
}

.temas h3 {
    color: rgb(51, 137, 218);
    font-size: 25px;
}

.slider {
    width: 80%;
    height: 60%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 200%;
    height: 100%;
    animation: cambio 20s infinite;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider .contenedor {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
}

.slider .contenedor .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
}

.slider .contenedor .row div {
    width: 20%;
}

@keyframes cambio {
    0% {
        margin-left: 0%;
    }
    50% {
        margin-left: -100%;
    }
    100% {
        margin-left: -100%;
    }
}

.ubicacion h2 {
    width: 100%;
    text-align: center;
    color: rgb(51, 137, 218);
    font-size: 30px;
}

.ubicacion {
    width: 100%;
    height: 150vh;
}

.estamos {
    width: 90%;
    height: 150vh;
    margin: auto;
}

.ubicacion>div div {
    width: 45%;
    height: 45%;
    display: inline-block;
    margin: 2%;
}

.ubicacion>div div p {
    height: 15%;
}

.ubicacion>div div p span {
    font-weight: bolder;
}

iframe {
    width: 100%;
    height: 80%;
}

.dudas {
    width: 100%;
    height: 100vh;
    background: url('./Imagenes/IMG-gris.jpg');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.dudas>div {
    width: 50%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.dudas>div div {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.pregunta {
    font-size: 25px;
}

.correo {
    max-width: 100%;
    height: 30%;
    font-size: 25px;
    background: burlywood;
    color: rgb(51, 137, 218);
    border-radius: 75px 0 75px 0;
    font-weight: bolder;
}

.dudas footer {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dudas footer .fab {
    color: white;
    font-size: 35px;
}